@import "../assets/styles/_var.scss";

.app-container {
  display: block;
  padding: 20px;

  .nav {
    display: flex;
    gap: 20px;

    li {
      padding: 4px 12px;
      background-color: $second-color;

      &:hover {
        background-color: $second-color-dark;
      }
    }
  }

  .main-content {
    height: calc(100vh - 180px);
    padding: 0 12px;
    margin: 12px 0;
    border: 1px solid darken($main-background, 10%);
    overflow-y: scroll;
  }
}

// RWD===============
// 手機
@media (max-width: 480px) {
  .app-container {
    .main-content {
      height: calc(100vh - 160px);
    }
  }
}