// Layout
$main-background: #DFE0E2;

// Text
$text-dark: #333;

// Primary Colors
$primary-color: #3066BE;
$primary-color-light: lighten($primary-color, 20%);
$primary-color-dark: darken($primary-color, 10%);

$second-color: #5ABCB9;
$second-color-light: lighten($second-color, 20%);
$second-color-dark: darken($second-color, 10%);